@font-face {
  font-family: 'Cormorant Garamond';
      src:url(font/Sacramento-Regular.ttf);


       src:url(font/cormorant-garamond-v5-latin-regular.eot),url(font/cormorant-garamond-v5-latin-regular.woff),url(font/cormorant-garamond-v5-latin-regular.ttf);

}

h1{
    font-family: 'Cormorant Garamond';
    

}
#nav,#nav ul {
    background-color: #8899AA;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav {
    display: block;
    padding: 5px;
    position: relative;
    width: 112px;
    perspective: 200px;
}
.Premium {
    z-index: 8;
     white-space: nowrap;
      font-size: 3em;
       font-weight: 400; 
       color: rgb(250, 255, 108); 
        font-family: Tangerine;

}
#nav ul {
    left: -9999px;
    opacity:0;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    top: -9999px;
 
}
#nav li {
    background-color: #FFFFFF;
    position: relative;
}
#nav > li {
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#nav li a {
    
    

    color: #000000;
    display: block;
    font-size: 15px;

    text-decoration: none;
    width:95px;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#nav li:hover > a {
    background-color: #8899AA;
    border-color: #8899AA;
    color: #FFFFFF;
}
#nav li:hover ul.subs {

    opacity:1;
    top: 0;
    -moz-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
#nav ul li {
    width: 100%;
}

#menu {
  position: fixed;
  right: 0;
  top: 30%;
  width: 4em;
  z-index: 100000000000;

}

.chat {
  position: fixed;
  right: 20px;
  top: 80%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: orange;
  z-index: 100000000000;
  cursor: pointer;


}

#myModal{
    z-index: 100000000;
}

#vertical-nav {
    width:100px;
    font-family:Tahoma, Geneva;
    font-size:12px;
    background-color: #FFF;
    text-align:center;
    float: right;
    position: fixed;
    top: 30%;
    right: 0;
    z-index: 100000000000;

}
#vertical-nav ul {
    margin:0px;
    padding:0px;
    
}
ul.vertical-top-level {
 
}
#vertical-nav li {
    list-style:none;
}
ul.vertical-top-level li {
    
}
#vertical-nav a {
    color:#fff;
    display:block;    
    height:55px;
    line-height:55px;
    text-decoration:none;
    width:100%; 
    padding-bottom:37px   
}

#vertical-nav li:hover {
    color: red;
    position:relative;
}

ul.vertical-sub-level {
    display:none; 
}
li:hover .vertical-sub-level {
 
   
    display:block;
    position:absolute;
    right:100px;
    top:0px;
}
ul.vertical-sub-level li {
    border:none;
    float:right;
    width:150px;



    
}
#vertical-nav .vertical-sub-level {
    background-color:#000;
}

li:hover .vertical-sub-level .vertical-sub-level {
    display:none;
}



.righticon{
	color:gray!important;
    font-size: 20px;
}
.righticon:hover{
	color:orange!important;
	cursor: pointer;
	transition: all .01s;
}


.nav-link{
	color: lightgray;
	font-weight: bold;
	font-size: 15px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
.nav-link:hover{
	color: lightgray;
}
.about{

	font-weight: bold;
	font-size: 13px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
.slider{
	background:url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/17/2018/01/background-slider.jpg);
	width: 100%;
	height: 700px;
	margin-top: -100px;
	overflow: hidden;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.menu-btn{
	font-size: 11px;
    border-radius: 32px;
    background-color: rgba(63,63,63,0);
    color: #676767;
    border: 2px solid transparent;
    border: 1px solid #676767;
}

.menu-btn:hover{
border-color: orange;
color: orange;
cursor: pointer;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Cormorant Garamond";
    color: #3e3e3e;
    font-weight: 700;
}

/*------------ Start Nav Fixed ---------------*/
.fixed{
	/*  */

	position: fixed;
	top:0;

	background-color: #fff;
	left: 0;
	z-index: 100000;
	width: 100%;
	border-bottom: solid 1px lightgray; 

}
.navbar {
	height: 80px;
}
.fixed a{
		color: gray;
}
.fixed img{
/* 
background-image:url(../images/logo2.png); */
}

.offer{
	background: url(../images/fresh.jpg); 

	overflow: hidden;
    background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-position: center;
	background-size: cover;
}
em{
	    font-family: "Cormorant Garamond";
	  
	    font-size: 400px;
	    color: lightgray
}
 @media (max-width:2000px) and (min-width:700px) {
.h1{
     font-size: 100px; 
}
 @media (max-width:2000px) and (min-width:700px) {
.h1{
     font-size: 100px; 
}

.bg{
/* 	background: url(../images/bg.png); 
overflow: hidden;
    background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover; */
background-image:  url(https://cdn.jevelin.shufflehound.com/foodie/wp-content/uploads/sites/17/2018/01/Layer-0-copy-3.png),url(https://cdn.jevelin.shufflehound.com/foodie/wp-content/uploads/sites/17/2018/01/brooke-lark-385490.jpg);
 background-position: bottom, top;
  background-repeat: no-repeat;
  padding-bottom: 400px;
  padding-top: 400px;


}
h1{
	font-family: "Cormorant Garamond";
    color: #3e3e3e;
}
.bookbg{
	background: url(https://cdn.jevelin.shufflehound.com/foodie/wp-content/uploads/sites/17/2018/01/brooke-lark-385504.jpg); 
	overflow: hidden;
    background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-position: center;
	background-size: cover;
		height: 600px;
}
input[type="text"], input[type="email"],.time ,.date{
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    border-radius: 0;


}



/*------------ End Nav Fixed ---------------*/

/*------------ Start gotoTop ---------------*/

.gotoTop{
	width: 50px;
	height: 50px;
	background: #FFF;
	position: fixed;
	right:20px;
	bottom:140px;
	border-radius: 50%;
	text-align: center;
	line-height:50px;
	cursor: pointer;
	font-size: 1.5em;
	color:#949494;
}

.gotoTop:hover{
	background-color: orange;
	color: #FFF;
}

.hover:hover{
	cursor: pointer;
	color: orange!important;
}
/*------------ End gotoTop ---------------*/




span{
    font-size: 14px;
}

}

.border{
	width:2em;

}
.viewports{
	background-color: red;
	opacity: 0.8;
	width: 100px;
	height: 25px;

	text-align: center;
	color: #fff;
	font-family: verdana;
	font-size: 11px;
	line-height: 25px;
	direction: ltr;

}
.wrapper {
  height: 2000px;
  position: relative;
  background: green;
}

header {
  position: fixed;
  width: 100%;
  height: 50px;
  background: grey;
}

.lrg-logo {
  width:150px;
   background-image: url(../images/logo.png);
    overflow: hidden;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    background-size: cover;
    padding-bottom: 5px;
    padding-top: 57px;
    
 
}

.sml-logo {

  background-image: url(../images/logo2.png);
  width:150px;
    overflow: hidden;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    background-size: cover;
    padding-bottom: 5px;
    padding-top: 57px;
  

}





  input{
    outline-style:none;
    outline: none;
box-shadow:none;
border: none;
border-bottom:1px solid #CCC;

  }

    input:hover{

border-bottom:1px solid orange;

  }

  input:focus{
        outline-style:none;
    outline: none;
box-shadow:none;
border: none;
outline-style:none;
box-shadow:none;
border-color:transparent;

  }
 }

 @media (max-width:975px) {
    #vertical-nav{
         display: none !important;
    }

}

@media (max-width:980px) {


    nav{
        display: none !important;
   }
}
